# Python & Django
__pycache__/
*.py[cod]
*.log
migrations/

# Environment & Settings
.env
.env.*

# Database
*.sql
*.dump
*.pgsql
postgres_data/

# Media & Static
package.json
package-lock.json
postcss.config.js
tailwind.config.js
node_modules/
staticfiles/ 


# IDE & Development
.vscode/
.coverage
.pytest_cache/

# OS generated
.DS_Store
Thumbs.db